//Sizes
$size_extra_small: 0.390625rem; //6.25px
$size_small: 0.78125rem; //12.5px
$size_medium: 1.5625rem; //25px
$size_half_of_extra_large: 2.34375rem;
$size_large: 3.125rem; //50px
$size_extra_large: 4.6875rem; //75px
$size_extra_extra_large: 6.25rem; //100px
$size_wide: 12.5rem;  //200px

//Colors
$color_white: #ffffff;
$color_blue_primary: #057bff;
$color_blue_secondary: lighten($color_blue_primary, 10%);
$color_light_grey: #f0f0f0;
$color_dark_grey: darken($color_light_grey, 50%);
$color_black: #000000;
$color_yellow: #fffe80;
$color_green: #68a823;
$color_red: #f93b30;

//Borders
$border_one: solid 1px $color_blue_primary;
$border_two: solid 10px $color_blue_secondary;
$border_three: solid 1px $color_light_grey;
$border_four: solid 3px $color_blue_primary;

//Borders Radius
$border_radius_primary: 0.5em;

//Buttons
$button_height_primary: $size_large;
$button_width_primary: $size_extra_extra_large;
$button_width_wide: $size_wide;
$button_background_color_primary: $color_white;
$button_background_color_hover: $color_blue_primary;
$button_font_color_primary: $color_blue_primary;
$button_font_color_hover: $color_white;
$button_font_size_primary: 1em;
$button_box_shadow_primary: 0 2px 12px $color_blue_primary;
$button_box_shadow_hover: 0 5px 12px $color_blue_primary;
$button_border_radius_primary: 0.5em;

//Margins
$margin_extra_small: $size_extra_small; //base margin for spacing between edges
$margin_small: $size_small;  //this is what I use for the left margin on all text
$margin_medium: $size_medium;
$margin_large: $size_large;
$margin_extra_large: $size_extra_large;

//Padding
$padding_extra_small: $size_extra_small;  
$padding_small: $size_small;
$padding_medium: $size_medium;
$padding_large: $size_large;

//Heights
$height_medium: $size_medium;
$height_half_of_extra_large: $size_half_of_extra_large;
$height_large: $size_large;
$height_extra_large: $size_extra_large;
$height_extra_extra_large: $size_extra_extra_large;

//font-sizes
$font_size_tiny: 0.5em; //8px
$font_size_small: 0.75em; //12px
$font_size_regular: 1em; //16px
$font_size_medium: 1.25em; //20px
$font_size_large: 1.5em;  //24px
$font_size_extra_large: 2em; //32px
$font_size_extra_extra_large: 3em; //48px

//font colors
$font_color_primary: $color_blue_primary;
